$color: green;
body{
    background-color: darkgrey;
    margin: 0;
    }
.e-mail{
    font-size: 10px;
}
.wrapper{
    width: 80%;
    margin: 5% auto;
    color:$color;
    font-size: 30px;
    background: gray;
}
@mixin radius ($x) {
    -webkit-border-radius:$x;
    -moz-border-radius:$x;
    border-radius:$x;
    
}
div{
    @include radius(10px);
}
.without-BEM{
    @extend .wrapper ;
    background-color: darkolivegreen;
}